@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.Contact-form{
    font-family: Roboto;
    padding-top: 8vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../background/Backgrpund.jpg");
}
.contact-intro{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
}
.contact-intro h1{
    margin-bottom: 0px;
}
.contact-intro hr{
    margin-top: 0.25rem;
    border: 5px solid ;
    border-color: #04ade1;
    border-radius: 5px;
    width: 5vw;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:35vw;
    background-color: 	white;
    padding-left: 10vw;
    padding-right: 10vw;
    box-shadow: 5px 5px 5px 5px #888888;
    margin-bottom: 10vh;
    border-radius: 5px;
    padding-bottom: 3vh;
}
.Name-box{
    padding-top: 1vh;
    padding-left: 0.5vw;
    color: 	#A0A0A0;
    background-color: 	#F5F5F5;
    border: 0px;
    border-radius: 5px;
    height: 5vh;
    width: 50vw;
}

.input-box{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.message-box{
    color: 	#A0A0A0;
    background-color: 	#F5F5F5;
    padding-left: 0.5vw;
    border: 0px;
    border-radius: 5px;
    height: 20vhvh;
    width: 50vw;
}
